:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

main { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

form {
  font-family: system-ui;
  font-size: large;
  display: flex;
  gap: .5rem;
}

input { 
  border: none;
  border-radius: 8px;
  text-align: center;
}

input:focus {
  outline: none;
}

h2 {
  font-size: 2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 1px solid #EEE;
  border-radius: 8px;
  background-color: #1a1a1a;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #EEE;
  color: #1a1a1a;
  cursor: pointer;
}
button:hover {
  border-color: #1a1a1a;
}

.OTPbox {
  border: 1px solid #EEE;
  padding: 1rem;
  max-width: 3rem;
  border-radius: 8px;
  background-color: #EEE;
  color: #1a1a1a;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.1;
}

.OTPcontainer { 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  margin-top: 15px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #242424;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}